@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url(https://themes.googleusercontent.com/static/fonts/roboto/v9/Pru33qjShpZSmG3z6VYwnT8E0i7KZn-EPnyo3HZu7kw.woff)
      format("woff");
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 550px) {
  .section-title {
    top: 2rem !important;
  }
  .header .section-title h2 {
    font-size: 2.5rem !important;
  }
}

.header {
  /* min-height: 10rem;*/
  margin-top: 0;
  position: relative;
  z-index: -1;
  overflow: hidden;
  max-height: 20rem;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(
    to bottom,
    rgba(0, 247, 255, 0.301) 0%,
    rgb(0, 0, 0) 100%
  );
}

.menu {
  font-size: 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: #76ebc8;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #76d8bb;
  border-radius: 15px;
}

.menu-list li {
  float: left;
}

.menu-list li a {
  display: block;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

.menu-list li a:hover {
  background-color: #69c0a6;
  font-weight: bold;
}

.menu-list li a:focus {
  background-color: #69c0a6;
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 0.4rem;
  border-bottom: 1rem solid #c4c4c4;
}

.footer-note {
  margin-top: 0.3rem;
  padding: 0.7rem;
  color: #ffffff;
  background-color: #2d5de2;
  border-radius: 30px;
}

.footer :not(:first-child) {
  margin-left: 0.7rem;
}

.footer-note-text {
  text-align: center;
}

.header-news {
  font-size: 1.6rem;
  background-color: #f5f5f5;
  border-radius: 10px 10px 0 0;
  padding: 1rem;
  border: 1px solid #c9c9c9;
}

@media only screen and (max-width: 679px) {
  .header-news {
    overflow: auto;
    clear: both;
  }
}

.published-date {
  float: right;
  color: #f3f3f3;
  font-size: 1.5rem;
  background-color: #2a8b76;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}

.space {
  margin: 1rem;
}

.container {
  margin-bottom: 5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  overflow: hidden;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 133rem;
}

@media only screen and (min-width: 684px) {
  .menu {
    top: 0;
    bottom: auto !important;
  }

  .header {
    margin-top: 6rem;
    position: relative;
    z-index: -1;
    overflow: hidden;
    max-height: 20rem;
  }

  .container {
    margin-top: 3rem;
    margin-bottom: auto !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
  }

  .news-box {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    margin: 1rem;
    min-height: 30rem;
  }

  .summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

@media only screen and (min-width: 875px) {
  .news-box {
    max-width: 40rem;
  }

  .footer-note {
    padding: 0.8rem;
  }
}

.section-title {
  top: 8rem;
  z-index: 10;
  color: #fdfdfd;
  position: absolute;
  font-size: 3rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.news-box {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.title {
  margin-bottom: 0.5rem;
}

.pointer {
  cursor: pointer;
}

.was-saved {
  background-color: #ff2f2f !important;
}

.summary {
  padding: 1.3rem;
}

.no-news {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 2rem;
  text-align: center;
}

/* loader */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #616161; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: 40vh;
  margin-left: auto;
  margin-right: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.form textarea {
  width: 99%;
  background-color: #e6e6e6;
  border-radius: 5px;
}

.form button {
  width: 100%;
  background-color: #76ebc8;
  border: 1px solid #69c0a6;
  padding: 0.3rem;
  border-radius: 5px;
}

.spacer {
  height: 5px;
  width: 100%;
  background-color: #b8b8b8;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.notes {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.the-note-box {
  margin-bottom: 0.4rem;
  border-bottom: 2px solid #c9c9c9;
}

.the-note-box h4 {
  border-radius: 5px;
  background-color: #cecece;
}

.note-text {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.the-text {
  word-break: break-all;
}

.icons {
  text-align: right;
  width: 99.6%;
}

.red {
  color: red;
}

.icon-margin {
  margin-right: 1rem;
}
